<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="A simple website">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<header>
<h1>Jacob Schwartz</h1>
<h2>Scientist &amp; HTML fan</h2>
</header>
<hr>
<main>

{{ content }}

</main>

<footer>
<hr>
<blockquote>
<p>&quot;It is not incumbent upon you to complete the work, but neither are you at liberty to desist from it.&quot;
<img style="float:right" src="/images/construction.gif" alt="under construction">
</p>
<footer>
<cite>Pirke Avot 2:21</cite>
</footer>
</blockquote>

<p>
	Contact: jacob at jaschwartz dot net</a>
</p>
</footer>
</body>
</html>
